
<p>
  <b>Start at:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>Place:</b>
  <%= @event.place %>
</p>

<p>
  <b>Comment:</b>
  <%= @event.comment %>
</p>

<br />

<%= "「#{@entry.status}」で回答しました。" %><br />

<br />
