/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

.event{
  article{
    
    dl{
      background: #FFF;
      padding: 10px;
      border-bottom: 1px solid #999;
    }
    
    dt{
      font-size: 12px;
      padding: 0px 0px 5px;
    }
    
    dd{
      font-size: 16px;
    }
    
    .button-area{
      text-align: center; 
      
      .button-submit{
        width: 200px;
        float: none;
      }
    }
  }
}

