/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
.top {
  header{
    display: none;
  }

  #logo{
    margin: 90px 0px 50px;
  }
    
  article {
    text-align: center;  
    
    p{
      font-weight: bold;
      margin: 0px 0px 10px 0px;
    }
      
  }
}
